* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h4 {
  text-align: center;
  margin: 2rem auto;
}

h4 {
  font-weight: 400;
  width: 25rem;
}
.content {
  width: 25rem;
  max-width: 80%;
  margin: 4rem auto;
  padding: 1rem;
  border: 1px black solid;
  border-radius: 10px;
}

.content > p {
  font-size: 1.1rem;
  text-align: center;
}

.reset {
  display: flex;
  justify-content: center;
}

.reset > .btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
}

.menu {
  background-color: rgb(214, 210, 210);
  width: 7rem;
}

.menu > ul {
  text-align: center;
  list-style: none;
}

.menu > ul > li {
  padding: 0.2rem;
  margin-top: 0.2rem;
}

.menu > ul > li:hover {
  background-color: gainsboro;
  font-weight: bold;
}

.menu-off {
  display: none;
}
